header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 30px 0px 30px 0px;
    font-size: 30px;
    text-shadow: 0 0 1px lightblue, 0 0 8px black;
    font-family: 'Russo One', sans-serif;
}

body {
    margin-left: 30px;
    margin-right: 30px;
}
.container {
    text-align: center;
}

ul {
    list-style-type: none;
    margin-left: -20px;
}

address {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

h2 {
    background-color:darkblue;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 30px;
}

a {
    padding: 4px;
}

p {
    font-family: 'Exo', sans-serif;
}

.links:hover {
    color: blue;
}

img {
    height: 300px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {
    img {
        height: 200px;
        width: 150px;
    }

    .growing {
        float: left;
        margin-right: 10px;
        margin-left: 1px;
    }

    .teenage {
        float: right;
        margin-right: 1px;
        margin-left: 20px;
    }

    .currently {
        float: left;
        margin-right: 20px;
        margin-left: 1px;
    }

    .aboutMe {
        margin-bottom: 150px;
    }
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}